{% extends 'C:\\Users\\Tavis\\Documents\\djangoproject\\djangoproject\\templates\\private_layout.html' %}
{% block content %}
    {% if user.is_superuser %}
        <div class="create-article">
        <p class="lead text-white" style="text-align: center;">Create category</p>
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <form action="{% url 'categories:create' %}" method="post" class="justify-content-center">
                            <div class="form-group col-md-6">
                                {% csrf_token %}
                                {{cat}}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
    {% else %}
        <h1>You are not permitted to view this page</h1>
    {% endif %}
{%endblock%}