<!--For creating a category-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creation</title>
</head>
<body>
    </html>
    {% if user.is_superuser %}
        <div class="create-article">
            <h2>
                Create a category
            </h2>
            <form class="site-form" action="{% url 'categories:create' %}" method="post">
                {% csrf_token %}
                {{cat}}
                <input type="submit" value="Create"/>
            </form>
        </div>
    {% else %}
        <h1>You are not permitted to view this page</h1>
    {% endif %}
</body>